.HourlyForecast {
  padding-top: 20px;
  border-top: 2px solid #273342;
}

.HourlyForecast ul {
  list-style: none;
}

.HourlyForecast .icon {
  display: block;
  margin: 0 auto;
  height: 45px;
  width: 45px;
}

.HourlyForecast .unit {
  font-size: 14px;
}
