.Search .engine {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  opacity: 0.75;
  border: 2px solid #273342;
  border-radius: 4px;
  margin: 8px 20px;
  padding: 10px 10px 5px;
}

.Search .overview {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  opacity: 0.75;
  border: 2px solid #273342;
  border-radius: 4px;
  text-align: center;
  margin: 8px auto;
  padding: 10px 30px;
}

.Search .btn-outline-dark {
  border: 3px solid #273342;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  padding: 1px 6px;
  margin: 0 10px 8px;
}

.Search .city-input {
  background: transparent;
  border: 3px solid #273342;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  padding: 1px 40px;
}

.Search .btn-outline-dark:hover {
  background-color: #386197;
}

.Search .search-button {
  padding: 1px 24px;
}
