.WeatherData ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  color: #282c34;
}

.WeatherData .description {
  line-height: 2;
  padding: 55px 20px 0;
}

.WeatherData .icon {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}

.WeatherData .temperature {
  padding: 45px 20px 0;
  line-height: 1.5;
}
